.card{

    width: 420px;
    height: 350px;
    left: 39px;
    top: 583px;
    display: flex;

    align-items: center;
    flex-direction: column;
    background: #C4C4C4;
    border-radius: 30px;
    transition: all ease 0.2s;
    margin-top: 100px;
}
.link{
    text-decoration: none;
    color:rgb(0, 0, 0);
    transition: all 0.3s ease;
}
.link:hover{
    color:rgb(255, 255, 255)
}
.card img{
    border-radius: 30px;
}
.cardText {
    margin-top: 10px;
    text-align: left;
    margin-left: 15px;
    font-family:"Roboto";
    font-size: 24px;
    font-weight:400
}
.cardText span{
    font-size: 18px;
}
.details{
    width: 70%;
}
.price{
    margin-left: 10%;
}
.cardImg {
    width: 420px;
    height:240px;
    object-fit: cover;
  }
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(41, 41, 41);
  }
