@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.container {
  @include conteiner;
  width: 100vw;
  height: 7vh;
  background-color: $CPrimary;
  
}

.profile {
  height: 100%;
  width:15%;
  position:relative;
  left:2%;
}

.cart {
  position: relative;    
  left:0; 
  button{
    border:none;
    background-color:transparent;
    
  }
}
.tittle{
  position: relative;
}

@media screen and (min-width: $width-notebook) { 
  .profile {
    width: 7%;
    height:95%;
    left:30%;
  }
  
  .cart{
    left:20%;
  }
  
  .tittle{
    
    right:25%;
  }
  
    
}