.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}