.categoriesContainer {
  display: flex;
  position: fixed;
  flex-flow: column wrap;
  // align-self: flex-start;
  background-color: #F0F757;
  border-radius: .2em;
  box-shadow: 5px 5px 10px 1px #34344a;
  top: 11vh;
  left: 2vw;
}