.categoriesContainer {
  display: flex;
  flex-flow: column wrap;
  position:fixed;
  background-color: #f0f757;
  border-radius: 0.5em;
  box-shadow: 5px 5px 15px #34344a;
  width: 280px;
  left: 1em;
  top: 10vh;
}

.filtersContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
  margin: 15px 0px;
}