.FilterSubmit {
  background-color: cornflowerblue;
  border: none;
  border-radius: 0.2em;
  box-shadow: 2px 2px 5px  black;
  font-weight: bold;

}

.FilterSubmit:hover {
  background-color: limegreen;
  border: none;
  border-radius: 0.2em;
  box-shadow: 2px 2px 5px black;
}