.categorieContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 8px;
}

.categorieContainer input[type="checkbox"] {
  height: 1em;
  width: 1em;
  border: none;
  background-color: white;
  border-radius: 0.2em;
  cursor: pointer;
  user-select: auto;
}

.categorieContainer label:hover{
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}