.Market {
  display: flex;
  height: auto;
  justify-content: flex-start;
  flex-wrap: row wrap;
  width: 100vw;
  background-color: white;
}

.categories{
  position: fixed;
  top: 11vh;
  left: 2vw;
}